.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.hex-row {
    display: flex;
    justify-content: center;
    gap: 5px; /* A hexák pontosan összeérnek */
    width: 100%;
    margin-top: -3%;
}

.hex-ocean {
    background-color: #1e3f66; /* vagy használhatsz background-image-t */
    opacity: 0.8;
}

.hex {
    width: calc(100% / 6.7);
    height: 124.775px;
    background-size: 100% 100% ;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.offset {
    margin-left: calc(100% / 230); /* Fél hexagonnyi eltolás */
}

.catanMap {
    width: 99vh;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 875px) {

    .catanMap {
        width: 100%;
        max-width: 99vw;
    }

    .hex {
        width: calc(100% / 6.7);
    }
}

@media(max-width: 700px){
    .hex-row{
        margin-top: -3.5%;
    }
}

@media(max-width: 600px){
    .hex-row{
        margin-top: -5%;
    }
}

@media(max-width: 500px){
    .hex-row{
        margin-top: -7%;
    }
}

@media(max-width: 400px){
    .hex-row{
        margin-top: -9%;
    }
}