body{
    background: linear-gradient(90deg, #000000 0%, #b08013 100%);
    color: white;
}

h1{
    border: 2px solid white;
}

div {
    display: inline-block;
}

button{
    background-color:transparent;
    color: white;
}

a{
    color:greenyellow;
}

a:hover{

}

hr{
    border: 4px;
}